/* your custom css */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@media only screen and (max-device-width: 600px) {
.koompi-banner img{
        display: none;
        }
        /* .all-feature{
            padding-top:35px !important;
        } */
        .all-feature.margin-top-top{
            margin-top:11px !important;
        }
        .sponsor-smallworldVenture img{
            width:92% !important;
            margin-top:-41px;
        }
        .sponsor-koompi img{
            width:92% !important;
        }
.describe-top{
padding-left: 0px !important;
}
.left.feature-icon{
    margin-left:0px !important;
}
.header-name-top{
    font-size: 30px !important;
}
.button-downlaod{
   margin-left: 22px !important;
}
.middle-wallpaper{
    margin-top:-95px !important;
}
.right-wallpaper{
    margin-top:-95px !important;
}
.middle.feature-icon{
    margin-top:-95px;
}
.right.feature-icon{
    margin-top:-74px;
}
.den.feature-icon{
    margin-top:-95px !important;
}
.left.sponsor-koompi{
    margin-bottom:-238px;
}


/* .nav-footer{
    margin-top:-124px !important;
} */
}

@media only screen and (max-device-width: 736px) {
.Container-secondComponent{
    margin-top:30px !important;
}
.koompi-banner img{
    display: none
}
.left.feature-icon{
    margin-left:-41px;
}
.middle-logo h1{
    width: 85%;
}
}

@media only screen and (max-width: 1024px) {
 .left-wallpaper img{
        height: 125px !important;
    }
    .describe-top{
        padding-left: 0px !important;
    }
    .header-name-top{
        font-size: 68px;
    }
    .feature-pc{
        padding-left: 0px !important;
    }
    .grid-containerrr.Container-secondComponent{
        /* margin-top:34px; */
        margin-bottom:-330px !important;
    }
    .sponsor{
        margin-bottom: -237px !important;
        margin-top:109px;
    }
    .feature-pc{
        margin-top:-146px !important;
    }
.middle-wallpaper img{
    height: 125px !important;
}
.right-wallpaper img{
    height: 125px !important;
}
.koompi-banner img{
margin-top:220px;
/* display: none; */
}
.gallary-p{
    margin-top:-78px
}
.Container-secondComponent{
    padding-top:10px !important;
}

.sponsor-smallworldVenture img{
    margin-top:-16px !important;
}
.middle-logo p{
    margin-bottom: 70px !important;
}
/* .nav-footer{
    margin-top:-250px !important;
} */
}
body{
    background-color:#fafafa;
}
@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
@media only screen and (min-width:1025px){

}
/*banner*/
body{
    font-family: 'Roboto', sans-serif;
}
.Banner{
    background-image: url(../img/background.jpg);
    height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -25px;
}
.bannerTitle{
    color: #ffffff;
    text-transform: inherit;
    font-size: 40px;
   font-family:Ubuntu,Arial,'libra sans',sans-serif;
   font-weight: 450;
}
/* .bannerTitle h1{
    font-family: 'Hind', sans-serif;
} */
.bannerContainer{
    padding-right: 37%;
    position: relative;
}
.bigLogo{
    position: absolute;
    right:87px;
    top: 21%;
    width: 18rem;
    animation-name: rotate;
    animation-duration: 90000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
/*header logo*/
.fixedHeaderContainer header .headerTitleWithLogo {
   display: block;
    font-size: 2.25em;
    line-height: 18px;
    margin: 0;
    position: relative;
    z-index: 9999;
    font-weight: 400;
    color:#0baada;
    font-family: Ubuntu,Arial,'libra sans',sans-serif;
}

@keyframes rotate{
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.Indrouce-pionux{
    margin-top:-19px;
}


/*moblie*/

.text-container {
  width: 40%;
  margin: auto;
}
.text-container p{
    font-size: 24px;
    letter-spacing: -0.019em;
    line-height: 1.5;
    margin: 1.5em 0;
}
@media only screen and (max-width:1060px){
    .text-container{
        width: 90%;    
    }
    .text-container p{
        font-size: 20px;
    }
}
@media only screen and (max-width:1509px){
    .bigLogo{
        display: none;
    }
}
@media only screen and (max-width:480px){
    .bannerTitle{
    padding-left: 0px;
    text-transform: inherit;
    text-align: left;
    font-size: 20px !important;
    }
    .bannerContainer{
        padding: 0;
    }
}

.first-component{
    display: grid;
    grid-template-rows:repeat(3,minmax(0px, auto));
    position: relative;
}
.feature{
    background-color:#f1f1f1;
    position: relative;
    padding: 9px;
}
.feature-pc{
    background-color:#f1f1f1;
    position: relative;
    padding: 9px;
    padding-bottom: 68px;
}
.feature h1{
    padding-top:69px;
}

.office-main{
    width:95%;
    margin:auto;
}
.office{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}
.two-column{
    padding-left:2rem;
    margin-top:-34px;
}
@media only screen and (max-width:1060px){
    .two-column{
        padding: 2px;
    }
    .image-size{
        max-width: 90% !important;
    }
    .xpdf1{
        height: auto !important;
    }
}

.header-name{
    font-size: 60px;
    /* color: #444444; */
    color:#1a4f58;
    font-weight: bold;
    
    
}

.image-size{
    max-width: 50%;
    box-shadow: 0px 0px 25px #888888;
    margin-top:31px;
    border-radius: 5px;
}


.margin-top-top{
margin-top:-63px !important;
}
.button-downlaod {
    position: relative;
    width: 250px; height: 60px;
    background:  #1a4f58;
    margin: 0 auto;
    /* margin-top: 40px; */
    margin-top:16px;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: color .3s;
    /* Typo */
    line-height: 60px;
    text-align: center;
    color: #fff;
    border:none;
    text-decoration: none;
    font-size: 25px;
  }
  
  .button-downlaod:after {
    position: absolute;
    top: 90%; left: 0;
    width: 100%; height: 100%;
    background: #14434b;
    content: "";
    z-index: -2;
    transition: transform .3s;
  }
  
  .button-downlaod:hover::after {
    transform: translateY(-80%);
    transition: transform .3s;
  }

.header-name-top{
    font-size: 90px;
    /* color: #444444; */
    color:#1a4f58;
    font-weight: 300;
}
.describe-top p{
    color:black;
    font-weight: 100;
    font-size: 22px;
    /* text-align: justify; */
}
.p-of-top p{
padding-left: 214px;
}

.describe-top{
    padding-left: 75px;
    /* padding-top:62px; */
     font-weight: 300;
    margin-top:12px;
    color: #777777;
    font-size: 24px;
    font-family: Ubuntu,Arial,'libra sans',sans-serif;
}


.description-p p{
    font-weight: 300;
    margin-top:12px;
    color: #777777;
    font-size: 16px;
    font-family: Ubuntu,Arial,'libra sans',sans-serif;
}
.description-p{
    margin-top:45px;
}

.dolphin{
    padding: 10px;
}
.xpdf{

    padding:10px;
}
.xpdf1{
    height: 50rem;
}
.firefox{

    padding:10px;
}
.kontact{
    padding: 10px;

}



/*for PC*/
@media only screen and (max-width:480px){
    .bannerTitle{
    padding-left: 0px;
    text-transform: inherit;
    text-align: left;
    font-size: 20px !important;
    }
    .bannerContainer{
        padding: 0;
    }
}
.Container{
    width: 80%;
    margin:auto;
}
.all-feature{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(300px,1fr));
    padding-top:120px;
}
.item-img img{
    max-width: 80%;
    box-shadow: 0px 0px 25px #888888;
    border-radius: 5px;
}
.describe{
    /* padding-left: 75px;
    padding-top:62px;
     font-weight: 300;
    margin-top:12px;
    color: #777777;
    font-size:24px; */
    font-size: 24px;
    letter-spacing: -0.019em;
    line-height: 1.5;
    margin: 1.5em 0;
    font-family: Ubuntu,Arial,'libra sans',sans-serif;
}
.all-feature-office{
    padding-bottom: 120px;
}
.nav-footer {
    background: #1a4f58;
    /* margin-top:-180px; */
}




/*Header logo name*/
.fixedHeaderContainer header .headerTitleWithLogo {
display: none;
    font-size: 2.25em;
    line-height: 18px;
    margin: 0;
    position: relative;
    z-index: 9999;
}
.fixedHeaderContainer{
    background-color: #1a4f58;

}








.grid-container {
    display: grid;
    grid-template-areas: 
      /* 'header header header header header header'  */
      'left left middle middle right right' 
      /* 'footer footer footer footer footer footer'; */
    /* grid-column-gap: 10px; - if you want gap between the columns */
  } 


  .left,
.middle,
.right {
  /* padding: 10px; */
  height: auto; /* Should be removed. Only for demonstration */
}

/* Style the left column */
.left {
  grid-area: left;
}

/* Style the middle column */
.middle {
  grid-area: middle;
}

/* Style the right column */
.right {
  grid-area: right;
}

/* Style the footer */


@media (max-width: 600px) {
    .grid-container  {
      grid-template-areas: 
        /* 'header header header header header header'  */
        'left left left left left left' 
        'middle middle middle middle middle middle' 
        'right right right right right right' 
        /* 'footer footer footer footer footer footer'; */
    }
  }
  .Container-secondComponent{
      width: 61%;
      margin: -62px auto;
      padding-top:78px;
  }
  /* .background-color-secondComponent{
    background-color:#f8f8f8;
  } */
  /* .thirdComponent-background-color{
      background-color:white;
  } */
  .banner2Png{
      margin-left:0px;
      width:80%;
  }
  .item-letter-banner2{
    width: 81%;
    margin-top: 135px;
  }
  .image-lastComponent img{
      width:35%;
  }
  .image-lastComponent h2{
    font-size: 60px;
    letter-spacing: -0.022em;
    font-weight: bold;
    line-height: 1.25;
    margin: 0 0 0.5em 0;
  }
  .image-lastComponent p{
    font-size: 24px;
    letter-spacing: -0.019em;
    line-height: 1.5;
    margin: 1.5em 0;
    width: 86%;
  }


  .grid-containers {
    display: grid;
    grid-template-areas: 
      'header header header header header header' 
      'lefts lefts middles middles rights rights' 
      'footer footer footer footer footer footer';
    /* grid-column-gap: 10px; - if you want gap between the columns */
  } 


  .lefts,
.middles,
.rights {
  padding: 10px;
  height: auto; /* Should be removed. Only for demonstration */
}

/* Style the left column */
.lefts {
  grid-area: left;
}

/* Style the middle column */
.middles {
  grid-area: middle;
}

/* Style the right column */
.rights {
  grid-area: right;
}

/* Style the footer */


@media (max-width: 600px) {
    .grid-containers  {
      grid-template-areas: 
        'header header header header header header' 
        'lefts lefts lefts lefts lefts lefts' 
        'middles middles middles middles middles middles' 
        'rights rights rights rights rights rights' 
        'footer footer footer footer footer footer';
    }
  }

  .Container-lastComponent{
     margin: auto;
     width:70%;
  }
  .visitBanner a{
    color: #00aeff !important;
    position: relative;
    top:15px;
    font-size: 24px;
    font-weight: 800;
    transition: 0.3s;
  }
  .visitBanner a:hover{
      top:10px;
  }


  /* new design */

.middle-logo img{
    width: 242px;
    margin-top:84px;
}
.right-wallpaper p{
text-align:center;
font-size: 21px;
color: #1a4f58;
}
.right-wallpaper img{
height: 211px;
border-radius: 4px;
box-shadow: 0px 0px 25px #888888;
}
.left-wallpaper img{
    height: 211px;
    border-radius: 4px;
    box-shadow: 0px 0px 25px #888888;
}
.left-wallpaper p{
    text-align: center;
    font-size: 21px;
    color:  #1a4f58;
}
.middle-wallpaper img{
    height: 211px;
    border-radius: 4px;
    box-shadow: 0px 0px 25px #888888;
}
.middle-wallpaper p{
    text-align: center;
    font-size: 21px;
    color: #1a4f58;
}
.middle-logo h1{
    margin-top:9px;
    font-weight: 300;
    font-family: Ubuntu,Arial,'libra sans',sans-serif;
    font-weight: 400;
}
.middle-logo p{
    font-size: 18px;
}
.gallary-p p{
    font-size: 18px;
}
.grid-containerr {
    margin-top:29px;
    display: grid;
    grid-template-areas: 
      'header header header header header header header header' 
      'left left middle middle right right den den' 
      'footer footer footer footer footer footer footer footer';
    /* grid-column-gap: 10px; - if you want gap between the columns */
  } 
  .den,
  .left,
  .middle,
  .right {
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Style the left column */
  .left {
    grid-area: left;
  }
  
  /* Style the middle column */
  .middle {
    grid-area: middle;
  }
  
  /* Style the right column */
  .right {
    grid-area: right;
  }
  .den{
  grid-area:den;
  }
  
  /* Style the footer */
  .footer {
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .grid-containerr  {
      grid-template-areas: 
        'header header header header header header header header' 
        'left left left left left left left left' 
        'middle middle middle middle middle middle middle middle' 
        'right right right right right right right right' 
        'den den den den den den den den'
        'footer footer footer footer footer footer footer footer';
    }
  }
  .feature-icon img{
      width: 73px;
  }
  .feature-icon h1{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
  }
  .feature-icon p{
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
  }
  .features{
      margin-top:-15px;
  }
  .sponsor{
      margin-top:-81px;
  }
 
  .sponsor-koompi img{
      width: 59%
  }

  .sponsor-smallworldVenture img{
      width:59%;
      margin-top:-41px;
  }
  .features h1{
      font-weight: 400;
      text-decoration: underline;
  }
  .grid-containerrr {
    margin-top:-23px;
    display: grid;
    margin-bottom: -233px;
    grid-template-areas: 
      'header header header header header header header header' 
      'left left middle middle right right den den' 
      'footer footer footer footer footer footer footer footer';
    /* grid-column-gap: 10px; - if you want gap between the columns */
  } 
  .den,
  .left,
  .middle,
  .right {
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Style the left column */
  .left {
    grid-area: left;
  }
  
  /* Style the middle column */
  .middle {
    grid-area: middle;
  }
  
  /* Style the right column */
  .right {
    grid-area: right;
  }
  .den{
  grid-area:den;
  }
  
  /* Style the footer */
  .footer {
    grid-area: footer;
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  .inner.GallaryBtn{
      margin-top:-25px;
  }
  .feature-backgroundcolor{
      background-color:#fafafa;
  }
  /* .homeContainer{
      display: none
  } */
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .grid-containerrr  {
      grid-template-areas: 
        'header header header header header header header header' 
        'left left left left left left left left' 
        'middle middle middle middle middle middle middle middle' 
        'right right right right right right right right' 
        'den den den den den den den den'
        'footer footer footer footer footer footer footer footer';
    }
}

