/* your custom css */
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
/*banner*/
.Banner{
    background-image: url(../img/background.jpg);
    height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -25px;
}
.bannerTitle{
    color: #ffffff;
    text-transform: inherit;
    font-size: 40px;
}
.bannerContainer{
    padding-right: 37%;
    position: relative;
}
.bigLogo{
    position: absolute;
    right:87px;
    top: 21%;
    width: 18rem;
    animation-name: rotate;
    animation-duration: 90000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
/*header logo*/
.fixedHeaderContainer header .headerTitleWithLogo {
    display: block;
    font-size: 2.25em;
    line-height: 18px;
    margin: 0;
    position: relative;
    z-index: 9999;
}

@keyframes rotate{
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.Indrouce-pionux{
    margin-top:-19px;
}



.text-container {
  width: 40%;
  margin: auto;
}
.text-container p{
    font-size: 24px;
}
@media only screen and (max-width:1060px){
    .text-container{
        width: 90%;    
    }
    .text-container p{
        font-size: 20px;
    }
}
@media only screen and (max-width:1509px){
    .bigLogo{
        display: none;
    }
}
@media only screen and (max-width:480px){
    .bannerTitle{
    padding-left: 0px;
    text-transform: inherit;
    text-align: left;
    font-size: 20px !important;
    }
    .bannerContainer{
        padding: 0;
    }
}

.first-component{
    display: grid;
    grid-template-rows:repeat(3,minmax(0px, auto));
    position: relative;
}
/* .first-component > div:nth-child(odd){
    background-color: #ddd;
} */
.feature{
    background-color:#f1f1f1;
    position: relative;
}
.feature h1{
    padding-top:69px;
}
/*office*/
.office-main{
    width:95%;
    margin:auto;
}
.office{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}
.two-column{
    padding-left:2rem;
    margin-top:-34px;
}
@media only screen and (max-width:1060px){
    .two-column{
        padding: 2px;
    }
}
/*mediaplayer*/
.mediaPlayer{
   width:95%;
   margin:auto; 
}
.media-header{
    padding: 32px;
}
.mediaPl{
    background-color:#f7eff2;
    margin-top: -48px;
}
.description-size{
    font-size: 20px;
}
.icon-h1 img{
    float: left;
    width:auto;
    height: auto;
}
.icon-h1 h1{
    position: relative;
    top: 18px;
    left: 10px;
}
/*software*/
.Software{
   background-color: #e7ebe7;
    margin:auto;
    margin-top:-48px;
}
.software-width img {
    max-width: 65%;
    
}
.software-h1{
    padding-top:32px;
}