/* your custom css */
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
/*banner*/
.Banner{
    background-image: url(../img/background.jpg);
    height: 70vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -25px;
}
.bannerTitle{
    color: #ffffff;
    text-transform: inherit;
    font-size: 40px;
}
.bannerContainer{
    padding-right: 37%;
    position: relative;
}
.bigLogo{
    position: absolute;
    right:87px;
    top: 21%;
    width: 18rem;
    animation-name: rotate;
    animation-duration: 90000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
/*header logo*/
.fixedHeaderContainer header .headerTitleWithLogo {
    display: block;
    font-size: 2.25em;
    line-height: 18px;
    margin: 0;
    position: relative;
    z-index: 9999;
}

@keyframes rotate{
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.Indrouce-pionux{
    margin-top:-19px;
}



.text-container {
  width: 40%;
  margin: auto;
}
.text-container p{
    font-size: 24px;
}
@media only screen and (max-width:1060px){
    .text-container{
        width: 90%;    
    }
    .text-container p{
        font-size: 20px;
    }
}
@media only screen and (max-width:1509px){
    .bigLogo{
        display: none;
    }
}
@media only screen and (max-width:480px){
    .bannerTitle{
    padding-left: 0px;
    text-transform: inherit;
    text-align: left;
    font-size: 20px !important;
    }
    .bannerContainer{
        padding: 0;
    }
}

.first-component{
    display: grid;
    grid-template-rows:repeat(3,minmax(0px, auto));
    position: relative;
}
.feature{
    background-color:#f1f1f1;
    position: relative;
    padding: 9px;
}
.feature h1{
    padding-top:69px;
}
/*office*/
.office-main{
    width:95%;
    margin:auto;
}
.office{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}
.two-column{
    padding-left:2rem;
    margin-top:-34px;
}
@media only screen and (max-width:1060px){
    .two-column{
        padding: 2px;
    }
    .image-size{
        max-width: 90% !important;
    }
    .xpdf1{
        height: auto !important;
    }
}

.header-name{
    font-size: 32px;
    color: #444444;
}

.image-size{
    max-width: 50%;
    box-shadow: 0px 0px 25px #888888;
    margin-top:31px;
    border-radius: 5px;
}


.description-p p{
    font-weight: 300;
    margin-top:12px;
    color: #777777;
    font-size: 16px;
    font-family: Ubuntu,Arial,'libra sans',sans-serif;
}
.description-p{
    margin-top:45px;
}

.dolphin{
    background-color:#f7eff2;
    padding: 10px;
}
.xpdf{
    background-color: #fcf8f1;
    padding:10px;
}
.xpdf1{
    height: 50rem;
}
.firefox{
    background-color:#e9edf0;
    padding:10px;
}
.kontact{
    padding: 10px;
    background-color:#f6f5f9;
}